<!-- Search input -->
<div class="search-container">
  <mat-form-field appearance="outline" class="search-input">
    <mat-label>Search by name</mat-label>
    <input matInput [(ngModel)]="searchTerm">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="onSearch()">Search</button>
</div>

<!-- List of cities -->
<div class="city-list">
  <mat-card *ngFor="let city of cities" class="city-item">
    <img mat-card-image [src]="city.photo" alt="{{city.name}}">
    <mat-card-content>
      <h3>{{ city.name }}</h3>
    </mat-card-content>
    <mat-card-actions>
      <button mat-icon-button [routerLink]="['/city-edit', city.id]" *ngIf="authService.hasRole('ROLE_ALLOW_EDIT')">
        <mat-icon>edit</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<!-- Paginator -->
<div class="paginator-container">
  <mat-paginator
    [length]="totalElements"
    [pageSize]="size"
    [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="onPageChange($event)"></mat-paginator>
</div>
