<div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Edit City</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="onSubmit()" #cityForm="ngForm">
        <mat-form-field>
          <input [(ngModel)]="city.name" name="name" matInput placeholder="City Name" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>City Photo URL</mat-label>
          <input matInput [(ngModel)]="city.photo" name="photo" required>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="!cityForm.form.valid">Save</button>
    </mat-card-actions>
  </mat-card>
</div>
